<header>
  <nav>
    <div class="app-logo">Web Board</div>
    <!-- using unordered list here to will appear on the most left side of navbar -->
    <ul class="nav-list">
      <li class="user-profile-ic">
        <a href="/profile{{ .ID }}">{{}}</a>
      </li>
    </ul>
  </nav>
</header>