<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Board</title>
  <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
  {{ template "header.tmpl" }}
  <!-- main contain posts, filter option, and search bar -->
  <main class="content-wrapper">
    <h1>{{ .Test }}</h1>
    <h2>sub title</h2>
    {{ if .Post}}
      {{ range .Post }}
        <article id={{ .ID }}>
          <h3>{{ .Title }}</h3>
          <p>{{ .DescShort }}</p>
          <span>{{ .PostDate }}</span>
        </article>
      {{ end }}
    {{ else }}
      <h2>post empty. create one to start.</h2>
    {{ end }}
    <button>test</button>
  </main>
</body>
</html>